body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add1c5;
}

#login-page, #dashboard {
    text-align: center;
    padding: 50px;
    
}
h1{
    color: #243642;
}

.hidden {
    display: none;
}

.login-form {
    display: inline-block;
    background-color: #E2F1E7;
    border: solid #243642;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10 10 20px rgba(36, 54, 66, 0.8);
}

h3{
    color: #243642 ;
}

.login-form input {
    margin: 10px 0;
    padding: 10px;
    width: 600px ;
    
}

.login-form button {
    padding: 10px 20px;
    background-color: #243642;
    color: #E2F1E7;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #E2F1E7; /* Background color on hover */
    color: #243642; /* Text color on hover */
}

#teams {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.team {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #243642(0, 0, 0, 0.1);
    cursor: pointer;
    width: 200px;
    text-align: left;
}

#team-performance {
    margin-top: 20px;
}

canvas {
    max-width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}


/* Existing styles... */

#calendar {
    margin-top: 20px;
}

#calendarTable {
    width: 100%;
    border-collapse: collapse;
}

#calendarTable th, #calendarTable td {
    padding: 10px;
    border: 1px solid #243642;
    text-align: center;
    width: 14.28%; /* Divide into 7 days */
}

.sick-leave {
    background-color: #D8AE7E; /* Red for sick leaves */
}

.paid-leave {
    background-color: #FFB0B0; /* Green for paid leaves */
}

.attended {
    background-color: #c9ad77; /* Blue for attended days */
}

.weekend {
    background-color: #F8C794; /* Gray for weekends */
}

.empty {
    background-color: #FFF0D1;
}

/* Legend styling */
#legend {
    margin-top: 10px;
    text-align: center;
}

#legend h4 {
    margin-bottom: 5px;
}

.legend-item {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Legend color representations */
.legend-item.sick-leave {
    background-color: #D8AE7E;
}

.legend-item.paid-leave {
    background-color: #FFB0B0;
}

.legend-item.attended {
    background-color: #c9ad77;
}

.legend-item.weekend {
    background-color: #F8C794;
}


/* Logout button on the top right */
#logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #243642;
    color: #E2F1E7;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

#logout-button:hover {
    background-color: #243642;
}
